<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.mapper.PersonMapper">

    <!--<select id="login" parameterType="com.ujiuye.pojo.Person"
            resultType="com.ujiuye.pojo.Person">
        select * from person where qqnum = #{qqnum} and qqpwd = #{qqpwd}
    </select>-->


</mapper>




